/*Mixins*/
/*End Mixins*/
/*Variables*/
$blue-color: #0B0B48;
$greaterthen-Tablet:768px;
$mobile:449px;
/*End Variables*/

/*General Classess*/
.clear{
	clear: both;
}
/*End General Classess*/
body{
	background-color: $blue-color;

}
.container{
	width: 450px;
  	margin: 0 auto;
	padding: 0px;
	@media screen and (min-width: $greaterthen-Tablet) {
    	width: 750px; 
  	}
  	@media screen and (max-width: $mobile) {
    	width: 300px; 
  	}
}
/*Login Page CSS*/
.login{
  .signupalert{
	width: 80%;
	margin: 0 auto;
	margin-bottom:10px;
  }
	p{
		text-align: center;
		input[type=text],input[type=password],input{
			padding-left: 10px;
			color: black;
			width: 80%;
			height: 40px;
			border-radius: 5px;
		}
	}
	.loginSignup{
		text-align: center;
		button{
			width: 100px;
			margin-left: 10px;
		}	
	}
	.ng-scope{
		display: block;
		text-align: center;
	}
}
//Userdetails page
.userdetails{
	.checking{
	  position: relative;
	  .check-in-process{
		position: absolute;
		top:0px;
		right:10%;
		color:green;

		img	{
		  display: inline-block;
		  width: 40px;
		}

	  }
	  .already-exist{
		position: absolute;
		color: red;
		top:10px;
		right:13%;
	  }
	}
}
//ItemList Page Header
nav{
	border: none !important;

	.navbar-brand {
	    float: left;
	    padding: 0;
	    font-size: 18px;
	    line-height: 20px;
	    text-align: center;
	    .logo{
			display: inline-block;
			margin: 0;
		}
		span{
			display: inline-block;
			margin: 0;
			color: #00C9FB;
		}
	}
	.navbar-header{
		background-color: $blue-color;
		border: none;
		
	}
	.navbar-collapse{
		background-color: $blue-color; 
		border: none;
		text-align: right;
		a{
			color: white !important;
		}
	}
	@media (min-width: 768px){
	   .navbar-nav{
	   		float: left;
	    	margin: 10px;
	   	} 
	}
	
}
.logo{
		display: block;
		width: 70px;
		padding: 5px;
		margin: 10px auto;
		img{
			width: 70px;
		}
	}
//Header for itemList page
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #00C9FB;
}
.navbar-default .navbar-toggle {
    border-color: transparent !important;
	margin-top:18px;    	
	
}
.header{
	color: white;
	p{
		margin-left: 30px;
	}
	.glyphicon-shopping-cart{
		font-size: 30px;
		float: right;
		display: block;
		position: relative;
		top:10%;
		span{
			display: block;
		    position: absolute;
		    top: 3px;
		    left: 14px;
		    font-size: 14px;
		    color: black;
		}

	}
	.headerIcon {
		margin: 10px;
		h3{
			display: block;
		    float: left;
		    margin: 0px;
	    }
	}
		
}
//Ends Header for itemList page
.glyphicon-star{
	color: yellow;
}
.glyphicon-star-empty:before {
    content: "";
}
.itemList{
	display: block;
	width: 100%;
	padding: 0px;
	height: auto;
	li{
		display: block;
	    float: left;
	    width: 220px;
	    color: white;
	    padding: 5px;
	    margin-top: 30px;
	    text-align: center;
		img{
			width: 100%;
			height: 220px;
		}
		input[type=number]{
			color: black;
			width: 50px;
			padding: 0px 5px;
		}
		@media screen and (min-width: $greaterthen-Tablet) {
		    width: 230px;
		    margin-left: 15px;
		}
		@media screen and(max-width: ($greaterthen-Tablet)-1){
			li:nth-child(2n+2){
				margin-left: 7px;
			}
		}
		@media screen and (max-width: $mobile) {
	    	margin-left:25px;
	    	width:250px; 
	  	}
	}
	.table-responsive{
		border: none !important;
		th {
	    	border: none !important;
		}
	}	
}
//Table Css

.form-control{
	border-radius: 20px;
}
//Product Details page
.productDetails{
	.panel-primary{
			border-color: white !important;
		.panel-heading{
			background-color: $blue-color !important;

			span{
				font-weight: bold;
				font-size: 14px;
			}
			button{
				float: right;
				position: relative;
				right: -5px;
				top: -7px;
				background-color: $blue-color;
				border-color: $blue-color;
			}
		}
		.panel-body{
		  .carousel{
			height: 360px;
			.carousel-indicators li{
			  border: 1px solid #000;
			}
			.carousel-indicators .active{
			  background-color: #000000;
			}
			.carousel-inner{
			  height: 100%;
			  div.item.text-center.ng-isolate-scope.active,.ng-animate{
				height: 100%;
			  }
			  img{
				height: 100%;
				width: 80%;
				margin: 0 auto;
			  }
			}
		  }

		}
	}
}
//Cart Page
.orderlist{
	th{
		width: 33%;
		height: 100%;
		text-align: center;
		span{
			margin: 0 auto;
			display: block;
			width: 40px;
			img{
				width: 100%;
			}
		}
	}
	button{
		width: 100%;
		margin-top: 20px;
	}
}
//Checkout page
.checkout{
	p{
		color:white;
	}
	input{
		width: 100% !important;
	}
}
