<header class="header">
	<nav class="navbar navbar-default" role="navigation">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">
	        <!-- your branding here -->
	        <img ng-src="images/logo.jpg" ui-sref="home.login" class="logo"><span>E-Shop</span>
	        <div class="clear"></div>
	      </a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" ng-class="{'in':!navbarCollapsed}">
	      <!-- your normal collapsable content here -->
	      <ul class="nav navbar-nav">
	      	<li>
	      		<a href="#/" data-toggle="collapse" data-target=".navbar-collapse">Today's Deal</a>
	      	</li>
	      	<li>
	      		<a href="#/" data-toggle="collapse" data-target=".navbar-collapse">Gift Card</a>
	      	</li>
	      	<li>
	      		<a href="#/" data-toggle="collapse" data-target=".navbar-collapse">Home</a>
	      	</li>
	      </ul>
	    </div>
	</nav>
	<div class="headerIcon">
		<h3>Welcome {{username}}</h3>
		<div class="glyphicon glyphicon-shopping-cart" ><span>{{cartItemList.cartItem.length}}</span></div>
		<div class="clear"></div>
	</div>
	<input type="text" class="form-control" ng-model="searchText" placeholder="Search for...">
	
</header>

<ul class="itemList" >
	<li ng-repeat="item in itemList | productFilter:searchText" ng-click="productDetails(item.pid)">
		<img ng-src="{{item.imageUrl}}"/>
		<h4>{{item.name}}</h4>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Org Price : </th>
					<th><s> ${{item.orignalprice}}</s></th>
				</tr>
				<tr>
					<th>Our Price : </th>
					<th>${{item.ourprice}}</th>
				</tr>
				<tr>
					<th>Ratings :</th>
					<th><rating ng-model="item.rate" max="max" readonly="isReadonly"></rating></th>
				</tr>
				<tr>
					<th><label>Qty</label></th>
					<th><input ng-model="item.qty" type="number" placeholder="0"/></th>
				</tr>
			</table>
		</div>
		<button class="btn btn-warning"  ng-click="add($index,item.qty,item.pid,$event)">Add To Cart</button>
	</li>
	<div class="clear"></div>
</ul>